apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: homeassistant
  labels:
    app.kubernetes.io/name: homeassistant
    app.kubernetes.io/part-of: homeassistant
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: homeassistant
  template:
    metadata:
      labels:
        app.kubernetes.io/name: homeassistant
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: homeassistant
          # Flux Image Automation marker references ImagePolicy flux-system:homeassistant
          image: "ghcr.io/home-assistant/home-assistant:2025.11.0" # {"$imagepolicy": "flux-system:homeassistant"}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8123
              protocol: TCP
          env:
            - name: TZ
              value: "Europe/Berlin"
          
          volumeMounts:
            - name: config
              mountPath: /config
          
          readinessProbe:
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 120
            periodSeconds: 15

      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: homeassistant-config