---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: image-auto-apps
  namespace: flux-system
spec:
  interval: 1h
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        name: Flux Image Automation
        email: flux-image-automation@users.noreply.github.com
      messageTemplate: |-
        chore(images): update image tags

        Automated update by Flux ImageUpdateAutomation.
    push:
      branch: main
  update:
    strategy: Setters
    path: ./apps
